header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    font-family: sans-serif;
}
  
#header-nav{
    background-color: grey;
    border-bottom: 2px solid black;
}
.navbar-header{
    padding: 10px;
}
.text-padding{
    padding-top: 2%;
}
#section{
    background-color:  #EAEAEA;
    width: 95%;
    margin: auto;
}
#nav-list{
    text-align: center;
    background-color: #EAEAEA;
}
#nav-list li{
    border-bottom: 1px solid black;
    padding: 8px;
}
#nav-list a{
    color: black;
    text-decoration: none;  
}
